<%- include header %>
<form method="post">
	Tài khoản: <input type="text" name><br>
	Mật khẩu:  <input type="password" name="password"><br>
			   <input type="submit" value="Đăng nhập">
</form>
<%- include footer %>