<%- include header %>
<form method="post">
	Tiêu đề:  <br>
	<input type="text" name="title"><br>
	Nội dung: <br>
	<textarea name="post" cols="100" rows="20"></textarea><br>
	<input type="submit" value="Đăng bài">
</form>
<%- include footer %>